a {
    text-decoration: none;
}

body {
    background-color: lightblue;
    background-image: url('images/360_F_87648201_jO23xggA2W2EjCdfqCTqliX9typRG9rp.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-blend-mode:darken ;
}
ul {
    list-style-type: none;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

ol {
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}

.ingredients li::before {
    content: '• ';
}

h2, h1 {
    color: brown;
    display: flex;
    font-family: cursive;
    text-decoration: underline;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1, h2{
    color: brown;
    display: flex;
    justify-content: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

button {
    color: brown;
    background-color: lightgray;
}

.footer {
    height: 72px;
    background: grey;
    color: darkmagenta;
    display: flex;
  align-items: center;
  justify-content: center;
  bottom:0;
  position: fixed;
  width: 100%;
  opacity: 0.6;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .card {
    padding:10px;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(245, 196, 204);
  }